// Webfont CDN
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

// Webfont
$font-family-sans-serif:      'Spoqa Han Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Font Weight
$font-weight-light:           100;
$font-weight-normal:          300;
$font-weight-bold:            400;


// Bootstrap and its default variables
@import "./../node_modules/bootstrap/scss/bootstrap";