// Theme Colors
$dark: #343a40
$red: #E73E46
$orange: #f88938
$pink: #f765a0
$green: #60b911
$blue: #4b95ff
$onda: #4b95ff
$navy: #334c75

//--------------- Initiate ---------------//
html
  font-size: 16px
body

#bpIframeContainer
  padding: 0
  margin: 3.5rem 0 0
  max-width: 100%

.container.margin-for-nav
  margin-top: 3.5rem
  min-height: calc(100vh - 6rem)

a:focus, a:active, button:focus, button:active
  outline: none !important
  box-shadow: none

.nav-link
  transition: all .3s

.nav-item
  outline: none !important
  box-shadow: none

.margin-for-nav
  margin-top: 55px

.room-list
  .card
    position: relative
    top: 0
    border: none
    cursor: pointer
    transition: all .3s
    .card-img-top
      width: 100%
      height: 22rem
      background: no-repeat center center scroll
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover
      background-size: cover
    &:hover
      box-shadow: 0 .5rem .5rem .05rem #ddd
      top: -.5rem

.carousel
  .carousel-item
    height: 60vh
    background: no-repeat center center scroll
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
  .carousel-control-prev-icon
    background-image: url('/images/arrow-left.svg')
  .carousel-control-next-icon
    background-image: url('/images/arrow-right.svg')
  .carousel-control-prev-icon, .carousel-control-next-icon
    width: 30px
    height: 30px
  .carousel-control-prev, .carousel-control-next
    transition: all .3s
  .carousel-indicators li

.modal-header .close
  padding: 0 1.5rem
  opacity: 1
  margin: -.12rem 0

// Swal Popup 스타일 수정
.swal2-container
  .swal2-popup
    width: auto !important
    padding: 4rem 5rem !important
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0

    .swal2-progresssteps
      margin-bottom: 1rem
      .swal2-progressline
        background-color: lighten($onda, 15%) !important
      .swal2-progresscircle
        background-color: lighten($onda, 15%) !important
      .swal2-activeprogressstep
        background-color: $onda !important

    .swal2-icon
      &.swal2-success
        border-color: $onda
        .swal2-success-ring
          border-color: rgba($onda, .3)
        [class^=swal2-success-line]
          background-color: $onda

    .swal2-title
      margin: 0 0 .6em
      padding: 0 5rem !important
      font-size: 1.5rem
      font-weight: 400

    .swal2-content
      padding: 0 0 2rem 0
      white-space: pre

    .swal2-input
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      text-align: center
      font-weight: 300

    .swal2-buttonswrapper
      margin-top: 1rem

    .swal2-styled
      margin: 0 2px 0 2px
      padding: 8px 30px
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      font-size: 15px
      &:focus
        box-shadow: none
      &.swal2-cancel
        background-color: #ccc !important
      &.swal2-confirm
        background-color: $onda !important

    .swal2-actions
      button
        border-radius: 2px

// Scroll Top Button
#scrollTop
  display: none
  position: fixed
  bottom: 15px
  right: 15px
  z-index: 99
  outline: none
  cursor: pointer
  img
    width: 50px

// Main Slider
header
  .alert-group
    position: fixed
    top: 5rem
    left: -.2rem
    z-index: 1000
    .alert
      cursor: pointer
      opacity: .9

  #mainSlider
    .carousel-item
      height: 100vh
      min-height: 300px
      background: no-repeat center center scroll
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover
      background-size: cover

// Room View
.view-header
  background-color: white
  #view-top-slider
    li
      height: 450px
      img
        height: 450px
  hr
    border-color: #222222

// Map
#viewmap
  height: 50vh

// Footer
footer
  background-color: #f2f4f7
  .col-sm
    color: #999
    font-size: .85rem
    a
      color: #bbb
      &:hover
        color: #bbb

// DEMO ONLY
.demo-control
  position: fixed
  right: -1.5rem
  top: 5.5rem
  border-radius: 4px
  padding: 1rem 1.5rem
  width: 14rem
  text-align: center
  background-color: white
  ul.color-pick
    li
      width: 2rem
      height: 2rem
      border-radius: 1rem
      float: left
      margin: .25rem
      cursor: pointer
      opacity: .85
      transition: all .3s
      &:hover
        opacity: 1
    .dark
      background-color: $dark
    .white
      background-color: white
      border: 2px solid #eee
    .red
      background-color: $red
    .orange
      background-color: $orange
    .pink
      background-color: $pink
    .green
      background-color: $green
    .blue
      background-color: $blue
    .navy
      background-color: $navy

// Theme Setting
nav.navbar
  transition: all .3s
  &.theme-white
    background-color: white !important
    box-shadow: 0px 0px 3px 0 rgba(black, .3)
  &.theme-red
    background-color: $red !important
  &.theme-orange
    background-color: $orange !important
  &.theme-pink
    background-color: $pink !important
  &.theme-green
    background-color: $green !important
  &.theme-blue
    background-color: $blue !important
  &.theme-navy
    background-color: $navy !important
  &.theme-white,
    .navbar-brand
      font-weight: 400
      color: #4F4F4F !important
    .nav-link
      font-weight: 400
      color: #666
      &:hover
        color: #4F4F4F
    .nav-item.active .nav-link
      color: #4F4F4F



//---------- Responsive: Smaller than 500px ----------//
@media only screen and (max-width: 500px)
  header
  .alert-group
    top: 3.5rem !important
    left: 0 !important
    z-index: 1000
    width: 100vw
    .alert
      border-radius: 0

  #mainSlider
    .carousel-item
      height: 60vh !important

  .demo-control
    left: 0
    bottom: 0
    top: auto
    border-radius: 0
    padding: 1rem 1.5rem 0rem 1.5rem
    width: 100vw
    ul
      display: flex
      justify-content: center