
// Theme Colors
$dark: #343a40
$red: #E73E46
$orange: #F89238
$yellow: #FFCD56
$green: #7ED321
$blue: #36A2EB
$navy: #25577D

//--------------- Initiate ---------------//
html
  font-size: 16px
body

.container.margin-for-nav
  margin-top: 3.5rem
  min-height: calc(100vh - 6rem)

a:focus, a:active, button:focus, button:active
  outline: none !important
  box-shadow: none

.nav-link
  transition: all .3s

.margin-for-nav
  margin-top: 55px

.card-deck
  margin-bottom: 34px
  .card
    position: relative
    top: 0
    border: none
    cursor: pointer
    transition: all .3s
    img.card-img-top
      border-radius: 0
    &:hover
      box-shadow: 0 .5rem .5rem .05rem #ddd
      top: -.5rem

.carousel
  .carousel-item
    height: 60vh
    background: no-repeat center center scroll
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
  .carousel-control-prev-icon
    background-image: url('/images/arrow-left.svg')
  .carousel-control-next-icon
    background-image: url('/images/arrow-right.svg')
  .carousel-control-prev-icon, .carousel-control-next-icon
    width: 30px
    height: 30px
  .carousel-control-prev, .carousel-control-next
    transition: all .3s
  .carousel-indicators li

.modal-header .close
  padding: 0 1.5rem
  opacity: 1
  margin: -.12rem 0

// Scroll Top Button
#scrollTop
  display: none
  position: fixed
  bottom: 15px
  right: 15px
  z-index: 99
  outline: none
  cursor: pointer
  img
    width: 50px

// Main Slider
header
  .alert-group
    position: fixed
    top: 5rem
    left: -.2rem
    z-index: 1000
    .alert
      cursor: pointer
      opacity: .9

  #mainSlider
    .carousel-item
      height: 100vh
      min-height: 300px
      background: no-repeat center center scroll
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover
      background-size: cover



// Room View
.view-header
  background-color: white
  #view-top-slider
    li
      height: 450px
      img
        height: 450px
  hr
    border-color: #222222

// Map
#viewmap
  height: 50vh

// Footer
footer
  .col-sm
    color: #999
    font-size: .85rem
    a
      color: #bbb
      &:hover
        color: #bbb

// DEMO ONLY
.demo-control
  position: fixed
  right: 2rem
  top: 6rem
  border-radius: 4px
  padding: 1rem 1.5rem
  width: 8rem
  text-align: center
  background-color: white
  ul.color-pick
    li
      width: 2rem
      height: 2rem
      border-radius: 1rem
      float: left
      margin: .25rem
      cursor: pointer
      opacity: .85
      transition: all .3s
      &:hover
        opacity: 1
    .dark
      background-color: $dark
    .white
      background-color: white
      border: 2px solid #eee
    .red
      background-color: $red
    .orange
      background-color: $orange
    .yellow
      background-color: $yellow
    .green
      background-color: $green
    .blue
      background-color: $blue
    .navy
      background-color: $navy

// Theme Setting
nav.navbar
  &.theme-white
    background-color: white !important
    box-shadow: 0px 0px 3px 0 rgba(black, .3)
  &.theme-red
    background-color: $red !important
  &.theme-orange
    background-color: $orange !important
  &.theme-yellow
    background-color: $yellow !important
  &.theme-green
    background-color: $green !important
  &.theme-blue
    background-color: $blue !important
  &.theme-navy
    background-color: $navy !important
  &.theme-white, &.theme-yellow
    .navbar-brand
      font-weight: 400
      color: #4F4F4F !important
    .nav-link
      font-weight: 400
      color: #666
      &:hover
        color: #4F4F4F
    .nav-item.active .nav-link
      color: #4F4F4F

footer
  &.theme-white
    background-color: #F2F3F8 !important
  &.theme-red
    background-color: $red !important
  &.theme-orange
    background-color: $orange !important
  &.theme-yellow
    background-color: $yellow !important
  &.theme-green
    background-color: $green !important
  &.theme-blue
    background-color: $blue !important
  &.theme-navy
    background-color: $navy !important
  &.theme-red, &.theme-orange, &.theme-green, &.theme-navy, &.theme-blue
    .col-sm
      color: white
      opacity: .7