footer.py-3
  .container
    .row
      .col-sm 메르송풀앤스파 |  대표: 홍길동
      .col-sm 사업자등록번호: 261-81-00000
      .col-sm Copyright © 메르송풀앤스파 2018

    .row
      .col-sm 경북 포항시 남구 구룡포읍 하정로138번길 361
      .col-sm 연락처: 010-2101-2000
      .col-sm 무료홈페이지 Powered by
        a.ml-1(href='https://www.onda.me', target='_blank') ONDA

//- DEMO ONLy
include ./demo.pug