nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href='#') 메르송풀앤스파
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.px-md-2.outdoor
          a.nav-link(href='#') 숙소전경
        li.nav-item.px-md-2.rooms
          a.nav-link(href='#') 객실소개
        li.nav-item.px-md-2.service
          a.nav-link(href='#') 부대시설 및 서비스
        li.nav-item.px-md-2.map
          a.nav-link(href='#') 찾아오는 길
        li.nav-item.px-md-2.bp
          a.nav-link(href='#') 실시간예약