include ./includes/header.pug

body(name='outdoor')

  //- Top Navigation
  include ./includes/topnav.pug

  //- Full-page Main Slider
  header
    .alert-group
      .alert.alert-light.alert-dismissible.fade.show(role='alert', data-toggle='modal', data-target='#noticeModal')
        strong.mr-2 공지사항
        | 2018년 수영장 운영 안내
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;

    #mainSlider.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#mainSlider', data-slide-to='0')
        li(data-target='#mainSlider', data-slide-to='1')
        li(data-target='#mainSlider', data-slide-to='2')
        li(data-target='#mainSlider', data-slide-to='3')
        li(data-target='#mainSlider', data-slide-to='4')
        li(data-target='#mainSlider', data-slide-to='5')
        li(data-target='#mainSlider', data-slide-to='6')
        li(data-target='#mainSlider', data-slide-to='7')
        li(data-target='#mainSlider', data-slide-to='8')
        li(data-target='#mainSlider', data-slide-to='9')
        li(data-target='#mainSlider', data-slide-to='10')
        li(data-target='#mainSlider', data-slide-to='11')
      //- .carousel-inner(role='listbox')
        .carousel-item.active(style="background-image: url('/images/sample2/outdoor/001.jpg')")
        .carousel-item(style="background-image: url('/images/sample2/outdoor/002.jpg')")
        .carousel-item(style="background-image: url('/images/sample2/outdoor/003.jpg')")
        .carousel-item(style="background-image: url('/images/sample2/outdoor/004.jpg')")
        .carousel-item(style="background-image: url('/images/sample2/outdoor/005.jpg')")
        .carousel-item(style="background-image: url('/images/sample2/outdoor/006.jpg')")
        .carousel-item(style="background-image: url('/images/sample2/outdoor/007.jpg')")
        .carousel-item(style="background-image: url('/images/sample2/outdoor/008.jpg')")
        .carousel-item(style="background-image: url('/images/sample2/outdoor/009.jpg')")
        .carousel-item(style="background-image: url('/images/sample2/outdoor/0010.jpg')")
        .carousel-item(style="background-image: url('/images/sample2/outdoor/0011.jpg')")
      .carousel-inner(role='listbox')
        .carousel-item.active(style="background-image: url('/images/sample/outdoor-01.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-02.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-03.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-04.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-05.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-06.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-07.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-08.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-09.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-10.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-11.jpg')")
        .carousel-item(style="background-image: url('/images/sample/outdoor-12.jpg')")

      a.carousel-control-prev(href='#mainSlider', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#mainSlider', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next

  .container.py-5
    //- h4 메르송풀앤스파
    h4 베르트 펜션
    p
      | 항 남구 구룡포읍 하정로 138번길 36에 위치한 포항 풀빌라펜션 메르송 풀앤스파 경북대학교수련원 맞은편에 위치해있고 영일대쪽과는 먼 구룡포항 근처에 있습니다. 한적한 하정3리 마을에 조용하게 위치해 있습니다. 항 남구 구룡포읍 하정로 138번길 36에 위치한 포항 풀빌라펜션 메르송 풀앤스파 경북대학교수련원 맞은편에 위치해있고 영일대쪽과는 먼 구룡포항 근처에 있습니다. 한적한 하정3리 마을에 조용하게 위치해 있습니다.
    .py-4
    h6 입퇴실 안내
    p.pb-4 입실 15:00부터 22:00까지, 퇴실 11:00



  //- Footer
  include ./includes/footer.pug

  //- Notice Modal
  #noticeModal.modal.fade(tabindex='-1')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h5.modal-title 2018년 수영장 운영 안내
          a.close(data-dismiss='modal')
            img(src='/images/close.svg')
        .modal-body
          p.m-0
            | 2018년 인피니티 풀 운영 일정 안내
            br
            br
            | - 시작일: 2018년 5월 1일
            br
            | - 종료일: 2018년 8월 31일
            br
            | - 악천기후 시 운영이 제한될 수 있습니다.
            br
            | - 기후가 떨어질 경우 저체온증에 유의하시기 바랍니다.
            br
            | - 모든 퇴실 후 수영장 물을 교체합니다.
            br
            | - 수질검사에 통과한 지하 암반수를 사용합니다.
            br
            | - 아동과 유아의 안전사고에 주의하시기 바랍니다.
            br
            | - 수영장 주변에 물이 있을경우 미끄러울 수 있기 때문에 뛰거나 장난치지 않습니다.
            br
            | - 다이빙을 할 경우 수영장 바닥에 부딪혀 부상을 입을 수 있으니 다이빙을 금지합니다.
            br
            | - 곤충이나 유입물이 있을 경우 뜰채를 이용하여 제거하시기 바랍니다.
            br
            | - 지나친 음주 후 수영은 익사의 위험이 있습니다.