include ./includes/header.pug

body(name='reservation')

  //- Top Navigation
  include ./includes/topnav.pug

  .container.margin-for-nav
    iframe(src='http://13.125.138.100:3200/bp-pc', frameborder='0', scrolling='no', width='100%', height='1200px')

  //- Footer
  include ./includes/footer.pug
