include ./includes/header.pug

body(name='reservation')

  //- Top Navigation
  include ./includes/topnav.pug

  .container.margin-for-nav
    //- iframe(src='http://13.125.138.100:3400/', frameborder='0', scrolling='yes', width='100%', style='height: calc(100vh - 4rem);')
    iframe(src='http://13.125.138.100:3400/bp-calendar', frameborder='0', scrolling='yes', width='100%', style='height: calc(100vh - 4rem);')


