include ./includes/header.pug

body(name='rooms')

  //- Top Navigation
  include ./includes/topnav.pug

  .view-header.margin-for-nav
    ul#view-top-slider.content-slider
      li
        img(src='/images/sample/2A-01.jpg')
      li
        img(src='/images/sample/2A-02.jpg')
      li
        img(src='/images/sample/2A-03.jpg')
      li
        img(src='/images/sample/2A-04.jpg')
      li
        img(src='/images/sample/2A-05.jpg')
      li
        img(src='/images/sample/2A-06.jpg')
      li
        img(src='/images/sample/2A-07.jpg')
      li
        img(src='/images/sample/2A-08.jpg')
      li
        img(src='/images/sample/2A-09.jpg')
    .container.py-4
      h1 2A. POOL &amp; SPA
      .lead 33평형 / 수영장 + 스파 + 오션뷰
      hr

  .container
    h4 객샐설명
    p.pb-4
      | 2A. POOL &amp; SPA는 161㎡의 여유로운 객실로 개인 공간의 느낌이 강조된 모던 타입 입니다. 프라이빗 풀, 테라스가 완비된 스위트룸.
      br
      br
      | - 침구세트는 최대인원까지 객실에 구비되어있으며, 추가시 1set 10,000원(*현장결제)
      br
      | - 엑스트라 베드는 세대 별 원목 이불장에 기본 비치되어 있으며, 입실 인원 별 사용 기준은 아래와 같습니다.
      br
      | - 드럼 세탁기용 세제 ; 퍼실 듀오캡스(1개 500원 / 매점에서 구매 가능)
      br
      | - 1회용 식기류 및 종이컵은 매점에서 구매가 가능합니다.

    h4 인원 및 추가요금
    p.pb-4
      | - 기준 4명 | 최대 8명
      br
      | - 기준 인원 초과 시 추가요금이 발생합니다.
      br
      | - 성인 20,000원, 아동 20,000원, 유아 20,000원
      br
      | - 최대 인원 초과 시 입실이 불가하오니 정해진 기준/최대 인원을 준수해 주시기 바랍니다.

    h4 입퇴실 안내
    p.pb-4 입실 15:00부터 22:00까지, 퇴실 11:00

    h4 객실 내 시설
    p.pb-4 냉장고, 다리미, 드라이기, 쇼파, 스파/월풀, 에어컨, 욕실용품, 전기밥솥, 커피포트, TV

    iframe(src='https://app.onda.me/v2/booking/damon/week?roomtype_id=15204', frameborder='0', scrolling='no', width='100%', height='280px')

    a.btn.btn-primary.px-4.mr-3(href='/reservation') 실시간 예약
    a.btn.btn-light.px-4(href='/rooms')
      i.fa.fa-arrow-left.mr-2
      | 다른객실 보기

  .py-5








  //- Footer
  include ./includes/footer.pug