include ./includes/header.pug

body(name='rooms')

  //- Top Navigation
  include ./includes/topnav.pug

  .container#rooms.margin-for-nav.py-5
    .card-deck
      .card(onclick="location.href='/room-view'")
        img.card-img-top(src='/images/sample/2A-01.jpg')
        .card-body
          h5.card-title 2A. POOL &amp; SPA
          p.card-text
            | 33평형 / 수영장 + 스파 + 오션뷰
            br
            | 객실설명
          p.card-text
            small.text-muted 기준 4명, 쵀대 8명
      .card(onclick="location.href='/room-view'")
        img.card-img-top(src='/images/sample/2B-03.jpg')
        .card-body
          h5.card-title 2B. POOL &amp; SPA
          p.card-text
            | 33평형 / 수영장 + 스파 + 오션뷰
            br
            | 객실설명
          p.card-text
            small.text-muted 기준 4명, 쵀대 8명
    .card-deck
      .card(onclick="location.href='/room-view'")
        img.card-img-top(src='/images/sample/3A-02.jpg')
        .card-body
          h5.card-title 3A. SKY POOL &amp; SPA
          p.card-text
            | 33평형 / 수영장 + 스파 + 오션뷰
            br
            | 객실설명
          p.card-text
            small.text-muted 기준 4명, 쵀대 8명
      .card(onclick="location.href='/room-view'")
        img.card-img-top(src='/images/sample/3B-04.jpg')
        .card-body
          h5.card-title 3B. SKY POOL &amp; SPA
          p.card-text
            | 33평형 / 수영장 + 스파 + 오션뷰
            br
            | 객실설명
          p.card-text
            small.text-muted 기준 4명, 쵀대 8명


  //- Footer
  include ./includes/footer.pug